<% include partials/header %>
    <h1><%= topicHead %></h1>
      <% if (errors != undefined) { %>
  <h3>Following errors are there.</h3>
  <ul>
    <% errors.forEach(function(error){
      %><li><%= error.msg %></li>
    <% })%>
  </ul>
  <% }%>
    <form name="form1" method="POST" action="/student/add">
    <table>
        <tr>
        <td>First name</td>
        <td><input type="text" id="fname" name="fname" value="<%=userValue.fname%>" ></td>
        </tr>
        <tr>
        <td>last name</td>
        <td><input type="text" id="lname" name="lname" value="<%=userValue.lname%>" ></td>
        </tr>
        <tr>
        <td colspan="2">
          <input type="hidden" value="" name="editid" id="editid">
          <input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>
    <% if (userValues != undefined) { %>
<h3>Following users are there.</h3>
<ul>
  <% userValues.forEach(function(user){
    %><li><%= user.fname  %> <%= user.lname  %> - <a class="deleteUser" data-id="<%=user._id%>" href="#">Delete</a>- <a class="editUser" data-id="<%=user._id%>" href="#">Edit</a> </li>
  <% })%>
</ul>
<% }%>
  <% include partials/footer %>
